/* Färger: 
#4B352A - brun
#b1845b - ljus-brun
#CA7842 - orange
#5a7c5d - grön
#F0F2BD - gul

*/



body {
    margin: auto;
}

a {
    text-decoration: none;
}

.knapp {
    color:#003333;
}

.hel-header {
    position: sticky;
    top: 0%;
    z-index: 10;
}

.header {
    background-color: #007575;
    font-size: 12px;
    color: #003f3f;
    display: flex; 
    justify-content: center;  /* centrerar innehållet */
    gap: 10px;
    max-width: 100%;
    border: solid #007575 10px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    
}

.header-knapp {
    padding: 0 20px;

}

.kontor {
    object-fit: cover;
    max-width: 100%;
    margin-top: -30px;
    border-bottom: solid 10px #ffd2a9;

}

.intro-hela {
    background: #ffd2a9;
    color: #000000;
    padding: 20px 30px 40px 20px;
    margin-top: -160px;
    font-size: 20px;
    text-align: center;
    border: #ffd2a9 solid 10px;
    border-radius: 35px;
    position: relative;
    z-index: 5;
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}

.intro {
    margin-left: auto;
    margin-right: auto;
}

.produkter {
    text-align: center;
    scroll-margin-top: 150px; /* Justerar vart jag hamnrar vid min nya sida när jag klickar på exempelvis tjänster i headern. Från början syntes ej rubriken när jag klickiade. */
    padding: 40px 0;
}

.kolumner {
    display: flex;
    justify-content: center;
    gap: 100px; /* Justerar hur långt isär kolumnerna hamnar. Fungerar ihop med justify-content */
    font-size: 20px;
    text-align: center;
    padding-bottom: 120px;
    margin: 0 100px;
}

.kolumn {
    background: #000000;
    color: white;
    border: #000000 solid 5px;
    border-radius: 35px;
    padding: 20px 40px;
}

#tjänster {
    font-size: 30px;
}

.om-mig {
    background-color: #ffd2a9;
    padding: 50px 0 100px 0;
    scroll-margin-top: 150px;
}
 
.självporträtt {
    width: 600px;
    border: solid 5px black;
    border-radius: 20px;
}

.mig-kolumner {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-left: auto;
    margin-right: auto;
}

.om-mig-text {
    font-size: 20px;
}

.självporträtt {
    width: 300px;
    margin-top: 20px;
}

.kontakt-kolumner {
    display: flex;
    justify-content: center;
    gap: 200px;
    padding-bottom: 40px;
}

.kontakt-kolumn {
    text-align: left;
}

.frågor {
    font-size: 25px;
    padding-top: 25px;
}

.adress-rad {
    margin-top: -17px;
    margin-left: 57px;

}

.mejl-rad {
    margin-top: -17px;
}

.footer-kolumner {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 25px;
}

.footer-kolumn {
    background: none;
    margin-top: 10px;
}

footer {
    background-color: #007575;
    border: #007575 5px solid;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    margin-top: -30px;
}

.författare {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
}

.footer-bild {
    margin-top: -40px;
}

.webb-text {
    color: #003333;
}